<div class="container" style="margin: 20px;">
  <div 
    class="row"
    *ngIf="failedToLoadQuizzes"
  >
    <h3>Failed to load quizzes, please refresh page to try again...</h3>
  </div>
  <div 
    class="row"
    *ngIf="!failedToLoadQuizzes"
  >
    <div class="col-md-4">
      <button 
        class="btn btn-outline-success mb-3"
        (click)="addNewQuiz()"
      >
        Add New Quiz
      </button>
      <div class="list-group mb-3">
        <button 
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let q of quizzes"
          (click)="selectQuiz(q)"
          [class.active]="q == selectedQuiz"
        >
          {{ q.name }}
          <small
            class="font-italic font-weight-lighter"
            [class.text-danger]="q.questions.length == 0 && q != selectedQuiz"
            [class.text-white]="q == selectedQuiz"
          >
            {{ q.questions.length }} question<span *ngIf="q.questions.length != 1">s</span>
          </small>
        </button>
      </div>
    </div>
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz == undefined"
    >
      <div class="card bg-light text-center">
        <div class="card-body">
          <h5 class="card-title">
            No Quiz Selected
          </h5>
          <p class="card-text">
            Please select or add a new quiz...
          </p>
        </div>
      </div>
    </div>
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz != undefined"
    >
      <button class="btn btn-outline-dark mb-3">
        Save Quizzes
      </button>
      <button class="btn btn-link mb-3">
        Cancel
      </button>
      <div class="card mb-3">
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          <input 
            class="form-control"
            type="text"
            [(ngModel)]="selectedQuiz.name"
          >
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Questions
          <span
            *ngIf="selectedQuiz.questions.length == 0"
            class="text-danger"
          >
            (No Questions)
          </span>
        </div>
        <div class="card-body">
          <button 
          class="btn btn-outline-success mb-3"
          (click)="addNewQuestion()"
        >
          Add New Question
        </button>
        <div
          *ngFor="let question of this.selectedQuiz.questions"
          class="form-row"
        >
          <input 
            class="form-control col-md-10 mb-3"
            type="text"
            [(ngModel)]="question.name"
          >
          <button 
            class="btn btn-link text-danger col-md-2 mb-3"
            (click)="removeQuestion(question)"
          >
            Remove
          </button>
        </div>
        </div>
      </div>
        <div class="card">
          <div class="card-header">
            Other
          </div>
          <div class="card-body">
            Coming soon!
          </div>
        </div>
      </div>
  </div>
</div>






